<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= projects_path %>">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%= project_path(@project) %>"><%= @project.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Addons</li>
    </ol>
  </nav>
</div>

<% @project.addons.each do |addon| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= addon.name %></h5>
      </div>
    </div>
  </div>
<% end %>

<a href="/projects/new">Create new project</a>