# Ignore everything
*

!app
!bin
!config
!db
!dist
!lib
!public
!spec
!test
!vendor

!.rspec
!.rubocop.yml
!.ruby-version
!config.ru
!entrypoint.sh
!Gemfile
!Gemfile.lock
!package.json
!package-lock.json
!Rakefile
!tsconfig.json
!yarn.lock