# Ignore everything
*

!app
!bin
!config
# This doesn't need to be mounted to the container
# TODO: Remove this mount when we figure something else out
!deploy/vcluster.yml
!db
!dist
!lib
!public
!spec
!test
!vendor

!.rspec
!.rubocop.yml
!.ruby-version
!config.ru
!entrypoint.sh
!Gemfile
!Gemfile.lock
!package.json
!package-lock.json
!Rakefile
!tsconfig.json
!yarn.lock
!vcluster.yml