.github
.idea/*
.git/*
data
deploy
docs
examples
log
node_modules
storage
spec
test
.env
.env.example
.gitattributes
.gitignore
.pre-commit-config.yaml
.vault
docker-compose.yml
Dockerfile
private_key.pem