<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Settings</li>
    </ol>
  </nav>
</div>

<h4>Settings path</h4>

<ul>
  <li><a href="<%= connections_path %>">VCS Connections</a></li>
  <li><a href="<%= tokens_path %>">Access Tokens</a></li>
</ul>