<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/projects">LaunchboxHQ</a>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/connections">Connections</a></li>
          <li><a class="dropdown-item" href="/access_tokens">Access Tokens</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <!-- TODO: This button doesn't trigger the page to refresh -->
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn-link dropdown-item', data: { turbolinks: false }  %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
