<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Clusters</li>
    </ol>
  </nav>
</div>

<% @clusters.each do |cluster| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;" onclick="location.href = '/admin/clusters/<%= cluster.id %>';">
      <div class="card-body">
        <h5 class="card-title"><%= cluster.name %></h5>
      </div>
    </div>
  </div>
<% end %>

<a href="/admin/clusters/new">Create new cluster</a>