<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= admin_clusters_path %>">Clusters</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @cluster.name %></li>
    </ol>
  </nav>
</div>
