<h1>Settings</h1>

<ul>
  <%= current_user.vcs_connections.each do |conn| %>
    <li><%= conn.provider %></li>
  <% end %>

  <%= button_to "Link Github account", omniauth_authorize_path('user', 'github'), data: { turbo: false } %>
</ul>