<div class="card">
  <div class="card-header">Agents</div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>

      </tr>
      </thead>
      <tbody>
      <% @agents.each do |agent| %>
        <tr>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "Create agent", new_agent_path, class: "btn", disabled: true %>
  </div>
</div>