<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
  </nav>
</div>

<% @projects.each do |project| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;" onclick="location.href = '/projects/<%= project.id %>';">
      <div class="card-body">
        <h5 class="card-title"><%= project.name %></h5>
      </div>
    </div>
  </div>
<% end %>

<a href="/projects/new">Create new project</a>
