<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Addons</li>
    </ol>
  </nav>
</div>

<% @addons.each do |addon| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;" onclick="location.href = '/admin/addons/<%= addon.id %>/edit';">
      <div class="card-body">
        <h5 class="card-title"><%= addon.name %></h5>
      </div>
    </div>
  </div>
<% end %>

<a href="/admin/addons/new">Create new addon</a>
