<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= admin_addons_path %>">Addons</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @addon.name %></li>
    </ol>
  </nav>
</div>