<div class="row">
  <div class="col-md-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= resources_path %>">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @resource.name %></li>
      </ol>
    </nav>
  </div>
</div>
